.bank {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(black, 0.5);
  padding: 5px 5px;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  &.visible {
    opacity: 1;
  }
  &-balance {
    color: white;
  }
}
