@use 'vars' as *;

.deposit {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  display: none;
  &__modal {
    background-color: rgba(black, .7);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 2em;
  }
  &__title {
    display: flex;
    font-family: $font-display-2;
    font-size: 2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
  &__label {
    display: flex;
  }
  &__input {
    display: flex;
    font-family: $font-display-2;
    font-size: 3em;
    background-color: transparent;
    text-align: center;
    padding: .8em;
    color: white;
    border: none;
    margin: 10px;
  }
  &__button {
    color: white;
    font-family: $font-display-2;
    text-transform: uppercase;
    background: rgba(black, 0.2);
    border: 2px solid darkgrey;
    margin: 10px;
    padding: 20px;
    font-size: 1.7em;
    display: flex;
  }
}
