$font-display-1: "Kumar One", cursive;
$font-display-2: "Abril Fatface", cursive;
$bg-black-trans: rgba(black, 0.4);
$background-color: #000000; //1A1F31
$border-color: #000000;

$loading-bar-color: white;
$loading-bar-height: 4px;
