@use 'vars' as *;
@use 'keybinds';
@use 'bank';
@use 'deposit';
@use 'loading-bar';

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 11px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $background-color;
}

.world {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
