html, body {
  margin: 0;
  padding: 0;
}

.world {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #a90329;
  @include filter-gradient(#a90329, #6d0019, horizontal);
  @include background-image(radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%));
}
