<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Kumar+One" rel="stylesheet">
</head>
<body>
<div class="world" id="world"></div>
<div class="keys">
  <div class="key"><kbd>W</kbd><span>Forwards</span></div>
  <div class="key"><kbd>S</kbd><span>Backwards</span></div>
</div>
</body>
</html>
